@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c5e4e7;
  gap: 2.5rem;
}

.logo {
  margin-top: 3rem;
}

main {
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 100%;
  max-width:375px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

/* ===========INPUT & LABELS=========== */

.label {
  color: #5e7a7d;
}

input[type="number"] {
  color: #00474b;
  font-size: 1.5rem;
  text-align: right;
  background: #f3f9fa;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  height: 3rem;
}

input[type="number"]:hover {
  border: 2px solid #26c2ae;
  cursor: pointer;
}

input[type="number"]:focus {
  border: 2px solid #26c2ae;
}

.large-input {
  border: 2px solid #f3f9fa;
  padding: 1rem 1.1rem;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 1.3rem;
}

.bill-amount {
  background-image: url("../images/icon-dollar.svg");
}

.number-of-people {
  background-image: url("../images/icon-person.svg");
}

.people-label {
  display: flex;
  justify-content: space-between;
}

.zero-error {
  color: #e17457;
  display: none;
}

.zero {
  border: 2px solid #e17052;
}

.radios-container {
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

input[type="radio"] {
  appearance: none;
  display: none;
}

.radios-container label {
  background: #00474b;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radios-container label:hover {
  cursor: pointer;
  background: #9fe8df;
  color: #00474b;
}

input[type="radio"]:checked + label {
  background: #26c2ae;
  color: #00474b;
}

.custom-amount-input {
  width: 9rem;
  padding: 0.4rem 1.1rem 0.4rem 0;
  border: 2px solid #f3f9fa;
}

.custom-amount-input::placeholder {
  color: #547878;
  font-size:1.3rem;
}

.custom-amount-input::-webkit-input-placeholder {
  text-align: right;
}

.custom-amount-input:-moz-placeholder {
  text-align: right;
}

/* ===========TOTALS/CALCULATION=========== */

.totals-container {
  background: #00474b;
  border-radius: 15px;
  padding: 2rem 1.4rem 1.5rem 1.5rem;
}

.totals-container > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 1rem;
  color: #ffffff;
}

h3 {
  font-size: 0.85rem;
  color: #7f9d9f;
}

.total-class {
  font-size: 2rem;
  text-align: right;
  letter-spacing: -0.1rem;
  color: #26c2ae;
}

/* ===========RESET BUTTON=========== */

button {
  font-size: 1.3rem;
  text-align: center;
  color: #00474b;
  background: #26c2ae;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0.55rem;
  font-family: "Space Mono", monospace;
  margin-top: 0.8rem;
}

button:enabled:hover {
  cursor: pointer;
  background: #9fe8df;
}

button:disabled {
  background: #0d686d;
  mix-blend-mode: normal;
  opacity: 0.35;
}

@media (min-width: 1000px) {
  body {
    gap: 6rem;
  }

  .logo {
    margin-top:8.5%;
  }

  main {
    max-width:920px;
    height: 30rem;
    flex-direction: row;
    gap: 3rem;
    border-radius: 25px;
    padding: 2rem;
  }

  form {
    margin: 0.8rem 0 1rem 1rem;
    padding: 0;
    justify-content: space-between;
  }

  .large-input {
    margin:0;
  }

  .large-input:first-of-type {
    margin-bottom:2.5rem;
  }

  .radios-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.9rem;
    margin-bottom:2.5rem;
  }

  .custom-amount-input {
    width: 7rem;
    padding-left: 0.8rem;
    padding-right: 0.9rem;
  }

  .custom-amount-input::-webkit-input-placeholder {
    text-align: center;
  }

  .custom-amount-input:-moz-placeholder {
    text-align: center;
  }

  .totals-container {
    padding: 2.5rem;
    width: 50%;
  }

  .totals-container > div {
    margin:0;
    margin-bottom:1.6rem;
  }

  .totals-container div div {
    display:flex;
    flex-direction:column ;
    justify-content: center;
  }

  .total-class {
    font-size: 3rem;
    letter-spacing: -0.01rem;
  }

  button {
    margin: 0;
    margin-top:6rem;
    height:3rem;
    padding-top:0.6rem;
  }
}
